$add-bg-color: mediumaquamarine;
$add-font-color: white;

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 60%;
  background-color: $add-bg-color;
  color: $add-font-color;
  border-radius: 15px;
  border: none;
  padding: 5px;
  margin: 0.5em;
  font-size: 0.8em
}

#main {
  min-width: 60vw;
  max-width: 90vw;
  display: inline-flex;
  flex-direction: column;
  #signup {
    #signupForm {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input {
        width: 100%;
        margin-bottom: 1em;
      }
    }
  }
}

.goalsBlock {
  width: 100%;
  margin-bottom: 1em;
}

#setGoals {
  margin-bottom: 1em;
}

#navBar {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center
}
